@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --rose-color: #ec15f3;
  --light-gray: #2b2b2b;
  --dark-gray: rgb(22,22,22);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.link {
  text-decoration: none;
}