.nolink{
  text-decoration: none;
}

.body{
  display: flex;
}

.main{
  width: 100%;
  height: 100vh;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContent{
  width: 80%;
  max-width: 1200px;
  height: 80%;
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  
}

.boxContent::-webkit-scrollbar {
  width: 5px;
  height: 20px;
  border-radius: 20px;     /* Bordas arredondadas */
}

.boxContent::-webkit-scrollbar-track  {
  width: 50px;
  background-color: transparent;
}

.boxContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 20px;
  background-color: var(--rose-color); /* Cor de fundo do polegar */
}

.boxContent h1{
  color: white;
}

.error{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leagueBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background-color: var(--light-gray);
  cursor: pointer;
  padding: 10px;
  color: white;
  margin: 15px 0;
  transition: 200ms ease;
}

.leagueBox:hover{
  background-color: rgba(255, 255, 255, 0.089);
}

.leagueHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leagueDescription{
  margin-top: 5px;
  font-size: 12px;
  color: var(--rose-color)
}