.footerbox{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2b2b2b;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 80px;
  background-color: #2b2b2b;
  padding: 0 20px ;
  font-size: 12px;
  color: white;
}

.nav{
  display: flex;
  gap: 20px;
}

.nav a {
  cursor: pointer;
  margin-top: 1px;
  color: hsla(0, 0%, 100%, 0.8);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav a:hover {
  color: white;
  border-bottom: 1px solid rgb(236, 21, 243);
  transition: all 800ms;
}

