.rank {
  width: 100%;
  padding: 20px;
  overflow-x: auto;
}

.styledTable {
  width: 100%;
  border-collapse: collapse;
  background: var(--dark-gray);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.styledTable thead tr {
  background-color: rgba(0, 0, 0, 0.74);
  color: #ffffff;
  text-align: left;
}

.styledTable th{
  cursor: pointer;
  transition: 200ms;
}

.styledTable th,
.styledTable td {
  padding: 12px 15px;
}

.styledTable tbody tr {
  border-bottom: 1px solid var(--ligth-gray);
  color: white;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: var(--dark-gray)
}

.styledTable tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.styledTable tbody tr:hover {
  background-color: var(--light-gray);
  cursor: pointer;
  color: var(--rose-color);
}

.selectedHeader{
  background-color: var(--rose-color);
  transition: 200ms;
}