.loginFormSection{
  height: calc(100vh - 80px);
  background-image: url("../public/images/poker.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.loginFormBox{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  width: fit-content;
  height: fit-content;
  padding: 50px 30px 30px;
  margin: 0 35px;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.747);
  font-size: 18px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.form input {
  padding: 10px 0;
  width: 300px;
  margin: 8px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  transition: all 400ms;
  outline: none;
}

.form input:hover{
  border-bottom: 1px solid C;
}

.form input:focus {
  border-bottom: 1px solid var(--rose-color);
}

.form button {
  padding: 10px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all 400ms;
}

.form button:focus {
  outline: none;
  color: var(--rose-color);
}


.form button:hover {
  color: var(--rose-color);
}

.form a{
  margin-top: 10px;
  width: 100%;
  text-align: end;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: all 400ms;
}

.form a:hover{
  color: rgb(236, 21, 243);
}

@media (max-width: 400px){
  .form input{
    width: unset;
  }
}